body {
	background-color: #191970;
	margin: 0;
	font-family: 'Shadows Into Light', cursive;
	line-height: 30px;
	padding-top: 50px;
}
/* this is steelblue */
header {
	background-color: #4682B4;
	text-align: center;
}
/* powderblue */
header img {
	border-radius: 150px;
	width: 30%;
	border: 10px solid #B0E0E6;
}
main {
	padding: 0 20px;
}
/* this is cornflowerblue */
a {
	color: #6495ED;
}
/* this is darkturquoise */
a:hover {
	color:#00CED1;
}
footer {
	background-color: #4682B4;
	text-align: center;
	padding-top: 50px;
}
/* this is powderblue */
.title {
	font-size: 70px;
	color: #B0E0E6;
}
/* this is royal blue*/
.subtitle {
	font-size: 30px;
	color: #4169E1;
	background-color: #87CEEB;
}
/* this is cornflowerblue */
.paragraph {
	font-size: 20px;
	color: #6495ED;
	width: 95%;
}
/* this is skyblue */
.imagecaption {
	font-size: 16px;
	color: #87CEEB;
}
/* this is cornflowerblue */
.undertitle {
	font-size: 17px;
	color: #6495ED;
}